In [1]:
from pathlib import Path
import datapred.loadfromcsv as lfc

In [3]:
path = Path('data/')

<h2>Load datas from file to dataframes</h2>

In [4]:
d_data_df = lfc.DataAnalysisBuilder().open_csv_files(path)

<h2>We see the keys associate to the dataframe</h2>

In [5]:
d_data_df.keys()

dict_keys(['products', 'stores', 'sales_data'])

<h2> Now we will find the three top retailers </h2>

In [6]:
import datapred.threetopretailers as ttr

<h2>We charge the dataframe needed</h2>

In [7]:
df_store = d_data_df['stores']

In [9]:
df_sales= d_data_df['sales_data']

In [10]:
three_top = ttr.ThreeTopRetailers.builder(df_store,df_sales)

In [11]:
from datetime import date

In [12]:
start_date = date.fromisoformat('2016-01-25')

In [13]:
end_date = date.fromisoformat('2016-03-12')

In [14]:
l_three_top = three_top.request(start_date,end_date)

<h2>Here the three top retailers between the defined dates</h2>

In [16]:
l_three_top

[2, 1, 0]

<h2> Now we will find the top family product and its number of sales for each date  </h2>

In [17]:
import datapred.topfamilyproductsales as tfp

In [19]:
df_product = d_data_df['products']

In [20]:
top_family = tfp.TopFamilyProductSales.builder(df_product,df_sales)

In [21]:
end_date_top = date.fromisoformat('2016-02-11')

In [22]:
top = top_family.request(end=end_date_top)

<h2>Here we see between the start data(2016-01-01) and the end the family product 8 is the best</h2>

In [23]:
top[0]

8

<h2>Here the sales of the product 8 for each days from 01-01-2016 to 11-02-2016 </h2>

In [24]:
top[1]

       sales       date
0         46 2016-01-01
1        136 2016-01-02
2          3 2016-01-03
3        120 2016-01-04
4        134 2016-01-05
...      ...        ...
52495     88 2016-02-07
52496     12 2016-02-08
52497     88 2016-02-09
52498     53 2016-02-10
52499     85 2016-02-11

[52500 rows x 2 columns]